<!DOCTYPE html>
<html lang="en" ng-app="hello_flask">
<head>
    <meta charset="UTF-8">
    <title>Hello Flask Application</title>
    <script src="/static/js/vendor/angular/angular.js"></script>
    <script src="/static/js/vendor/angular-route/angular-route.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
</head>
<body>
	<h1> This is our awesome Hello Flask app!</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
	   <div ng-view></div>
</body>
</html>
